@tailwind base;
@tailwind components;
@tailwind utilities;

.contains-task-list {
  list-style-type: none;
  padding-left: 0;
}

.task-list-item {
  display: flex;
  align-items: center;
  padding-left: 0;
  white-space: pre-wrap;
}
